@media (max-width: 1024px) {
    .sign-up-pannel {
        height: 410px;
    }

    .burger-icon {
        visibility: hidden;
    }
}

@media (max-width: 768px) {
    
    .burger-icon {
        position:relative;
        visibility: visible;
        z-index: 2;
        top: -40px;
        right: -720px;

    }

    .header-container {
        visibility: hidden;
    }

    .header-old {
        visibility: hidden;
    }

    .git-about {
        padding-left: 10px;
    }

    .sign-up-pannel {
        padding-right: 10px;
    }

    .main-flex-column {
        width: 760px;
        height: 560px;
        position:fixed;
    }
}

@media (max-width: 425px) {
   
}