@import "./src/scss/reset.scss";
@import "./main.scss";

body {
    background-image: url("../img/bcg-img.png");

}

.header-old {
    width: 100%;
    height: 50px;
    color: #24292f;
}

.git-logo {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 0px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #24292f;
}

.menu-elements-space-between {
    display: flex;
    justify-content: space-between;
}


.header-list-item-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    width: 520px;
    height: 50px;

}

.list-menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}


.list-menu-item {

    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin-right: 12px;
        font-size: 14px;
        text-decoration: none;
        color: #fff;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";


    }

    a:hover {
        color: #969a9c;
    }

}

.icon-chevon-down {
    width: 10px;
    height: 10px;
}

.btn-flex-column {
    display: flex;
    width: 420px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.btn-search {
    justify-self: end;
    height: 30px;
    width: 200px;
    margin-left: 20px;
    background-color: #3f4448;
    font-weight: 500;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    color: #c0c2c3;
    border-radius: 5px;
    border: 0;
    padding: 0 0 0 5px;

}

.btn-signin {
    height: 30px;
    background-color: #24292f;
    border-bottom: #fff;
    font-weight: 500;
    color: #c9cacb;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    border-radius: 0px;
    border: 0;
}

.btn-signup {
    height: 30px;
    border: 0;
    border-radius: 5px;

    background-color: #24292f;
    border: 1px solid #c9cacb;
    box-shadow: rgb(27 31 35 / 4%) 0 1px 0, #ffffff40 0 1px 0 inset;
    box-sizing: border-box;
    color: #c9cacb;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    padding: 5px 5px;
    position: relative;
    margin-right: 60px;

}

.btn-signup:hover {
    color: #aaacad;
    border-color: #969a9c;
}

.image-search {
    margin-left: 190px;
    height: 20px;
}